---
const currentYear = new Date().getFullYear()
---


<footer class="shadow  backdrop-blur-lg bg-black-500">
	<div class="mx-auto px-4 py-3 sm:px-6 lg:px-8">
		<p class="mx-auto mt-6 max-w-md text-center text-sm leading-relaxed">
            
			© {currentYear} Creado con <span class="text-green-300">♥</span> por Rodrigo Dorantes | rodrigoremen
		</p>
	</div>
</footer>
